/* Master styles */
body {
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  background-color: lightgrey;

}

/* content */
.content-wrapper {
  font-family: "Langar", san-serif;
  margin : 0px 30px 30px 30px;
  background: white;
}

/* Nav styles */
.nav-wrapper {
  padding: 15px;
  background-color:white;
  display:flex;
  justify-content:space-between;
  padding:25px;
}

.left-side {
  display : flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  font-size: 0.9em;
  text-transform: uppercase;
}

.nav-link-wrapper {
  height: 22px;
  align-items: center;
  border: 1px solid transparent;
  transition: border 0.5s;
}

.nav-link {
  color : #8a8a8a;
  text-decoration : none;
  align-text: center;
  transition : color 0.5s;
}

.nav-link-wrapper a:hover {
  color: black;
}

.active-nav-link {
  border-bottom: 1px solid black; !important
}

.active-nav-link a {
  color: black; !important
}

.link-wrapper {
  border-bottom : 1px solid transparent;
  transition: border-bottom 0.5s;
}

.link-wrapper:hover {
  border-bottom : 1px solid black;
}

/* link styles */
.centered-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px 10px 3px 10px;
}

/* Portfolio styles */
.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-item-wrapper {
  position:relative;
}

.portfolio-img-background {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-text-wrapper {
  position:absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-wrapper img {
  width: 50%;
  margin-bottom: 20px;
}


/* Needs to be more specific with selector */

.img-text-wrapper .subtitle {
  transition: 1s;
  color: transparent;
  font-weight: 600
}

.img-text-wrapper:hover .subtitle {
  font-weight: 600;
  color: lightseagreen;
}


.img-darken {
  transition: 1s;
  filter: brightness(10%);
}

 /* footer styles */
footer {
  border-radius: 10px;
  background-color: white;
  height: 75px;
  margin: 0px 30px 30px 30px;
  text-decoration: none;
  color: black;
}

footer {
  position: relative;
}

.footer-link-wrapper {
  margin-left: 20px;
  position: absolute; bottom: 10px;
  border : 1px solid transparent;
  transition: border, 0.5s;
}

.nav-link-wrapper:hover, .footer-link-wrapper:hover {
  border: 1px solid black;
  border-top:  1px solid transparent;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}

.footer-link {
  color : #8a8a8a;
  text-decoration : none;
  transition : color 0.5s;
}


.footer-link:hover {
  color: Black;
}

/* About Page Styles */

.two-column-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img{
  width: 100%;
}

.profile-content-wrapper {
  padding: 30px;
}

.profile-content-wrapper h1 {
  color: lightseagreen;
}